<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="myApp" ng-controller="controller">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../assets/pics/db-Logo.png"></img></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                    <!--    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropdown-messages">-->
                    <!--    <li>-->
                    <!--        <a href="#">-->
                    <!--            <div>-->
                    <!--                <strong>John Smith</strong>-->
                    <!--                <span class="pull-right text-muted">-->
                    <!--                    <em>Yesterday</em>-->
                    <!--                </span>-->
                    <!--            </div>-->
                    <!--            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
                    <!--        </a>-->
                    <!--    </li>-->
                    <!--    <li class="divider"></li>-->
                    <!--    <li>-->
                    <!--        <a href="#">-->
                    <!--            <div>-->
                    <!--                <strong>John Smith</strong>-->
                    <!--                <span class="pull-right text-muted">-->
                    <!--                    <em>Yesterday</em>-->
                    <!--                </span>-->
                    <!--            </div>-->
                    <!--            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
                    <!--        </a>-->
                    <!--    </li>-->
                    <!--    <li class="divider"></li>-->
                    <!--    <li>-->
                    <!--        <a href="#">-->
                    <!--            <div>-->
                    <!--                <strong>John Smith</strong>-->
                    <!--                <span class="pull-right text-muted">-->
                    <!--                    <em>Yesterday</em>-->
                    <!--                </span>-->
                    <!--            </div>-->
                    <!--            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
                    <!--        </a>-->
                    <!--    </li>-->
                    <!--    <li class="divider"></li>-->
                    <!--    <li>-->
                    <!--        <a class="text-center" href="#">-->
                    <!--            <strong>Read All Messages</strong>-->
                    <!--            <i class="fa fa-angle-right"></i>-->
                    <!--        </a>-->
                    <!--    </li>-->
                    <!--</ul>-->
                    <!-- /.dropdown-messages -->
                <!--</li>-->
                <!-- /.dropdown -->
                <!--<li class="dropdown">-->
                <!--    <a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                <!--        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                <!--    </a>-->
                <!--    <ul class="dropdown-menu dropdown-tasks">-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <p>-->
                <!--                        <strong>Task 1</strong>-->
                <!--                        <span class="pull-right text-muted">40% Complete</span>-->
                <!--                    </p>-->
                <!--                    <div class="progress progress-striped active">-->
                <!--                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                <!--                            <span class="sr-only">40% Complete (success)</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <p>-->
                <!--                        <strong>Task 2</strong>-->
                <!--                        <span class="pull-right text-muted">20% Complete</span>-->
                <!--                    </p>-->
                <!--                    <div class="progress progress-striped active">-->
                <!--                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">-->
                <!--                            <span class="sr-only">20% Complete</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <p>-->
                <!--                        <strong>Task 3</strong>-->
                <!--                        <span class="pull-right text-muted">60% Complete</span>-->
                <!--                    </p>-->
                <!--                    <div class="progress progress-striped active">-->
                <!--                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
                <!--                            <span class="sr-only">60% Complete (warning)</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <p>-->
                <!--                        <strong>Task 4</strong>-->
                <!--                        <span class="pull-right text-muted">80% Complete</span>-->
                <!--                    </p>-->
                <!--                    <div class="progress progress-striped active">-->
                <!--                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                <!--                            <span class="sr-only">80% Complete (danger)</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a class="text-center" href="#">-->
                <!--                <strong>See All Tasks</strong>-->
                <!--                <i class="fa fa-angle-right"></i>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--    </ul>-->
                    <!-- /.dropdown-tasks -->
                <!--</li>-->
                <!-- /.dropdown -->
                <!--<li class="dropdown">-->
                <!--    <a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                <!--        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                <!--    </a>-->
                <!--    <ul class="dropdown-menu dropdown-alerts">-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <i class="fa fa-comment fa-fw"></i> New Comment-->
                <!--                    <span class="pull-right text-muted small">4 minutes ago</span>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                <!--                    <span class="pull-right text-muted small">12 minutes ago</span>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <i class="fa fa-envelope fa-fw"></i> Message Sent-->
                <!--                    <span class="pull-right text-muted small">4 minutes ago</span>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <i class="fa fa-tasks fa-fw"></i> New Task-->
                <!--                    <span class="pull-right text-muted small">4 minutes ago</span>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a href="#">-->
                <!--                <div>-->
                <!--                    <i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                <!--                    <span class="pull-right text-muted small">4 minutes ago</span>-->
                <!--                </div>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--        <li class="divider"></li>-->
                <!--        <li>-->
                <!--            <a class="text-center" href="#">-->
                <!--                <strong>See All Alerts</strong>-->
                <!--                <i class="fa fa-angle-right"></i>-->
                <!--            </a>-->
                <!--        </li>-->
                <!--    </ul>-->
                    <!-- /.dropdown-alerts -->
                <!--</li>-->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="../pages/users.html"><i class="fa fa-user fa-fw"></i> Users</a>
                        </li>
                        <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                        <!--</li>-->
                        <li class="divider"></li>
                        <li><a href="../pages/login.html" id='logout-btn'><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <!--<li>-->
                        <!--    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>-->
                        <!--    <ul class="nav nav-second-level">-->
                        <!--        <li>-->
                        <!--            <a href="flot.html">Flot Charts</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="morris.html">Morris.js Charts</a>-->
                        <!--        </li>-->
                        <!--    </ul>-->
                            <!-- /.nav-second-level -->
                        <!--</li>-->
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Installation Form</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Data Table</a>
                        </li>
                        <!--<li>-->
                        <!--    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>-->
                        <!--    <ul class="nav nav-second-level">-->
                        <!--        <li>-->
                        <!--            <a href="panels-wells.html">Panels and Wells</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="buttons.html">Buttons</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="notifications.html">Notifications</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="typography.html">Typography</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="icons.html"> Icons</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="grid.html">Grid</a>-->
                        <!--        </li>-->
                        <!--    </ul>-->
                            <!-- /.nav-second-level -->
                        <!--</li>-->
                        <!--<li>-->
                        <!--    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                        <!--    <ul class="nav nav-second-level">-->
                        <!--        <li>-->
                        <!--            <a href="#">Second Level Item</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="#">Second Level Item</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="#">Third Level <span class="fa arrow"></span></a>-->
                        <!--            <ul class="nav nav-third-level">-->
                        <!--                <li>-->
                        <!--                    <a href="#">Third Level Item</a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                    <a href="#">Third Level Item</a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                    <a href="#">Third Level Item</a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                    <a href="#">Third Level Item</a>-->
                        <!--                </li>-->
                        <!--            </ul>-->
                                    <!-- /.nav-third-level -->
                        <!--        </li>-->
                        <!--    </ul>-->
                            <!-- /.nav-second-level -->
                        <!--</li>-->
                        <!--<li class="active">-->
                        <!--    <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>-->
                        <!--    <ul class="nav nav-second-level">-->
                        <!--        <li>-->
                        <!--            <a class="active" href="blank.html">Blank Page</a>-->
                        <!--        </li>-->
                        <!--        <li>-->
                        <!--            <a href="login.html">Login Page</a>-->
                        <!--        </li>-->
                        <!--    </ul>-->
                            <!-- /.nav-second-level -->
                        <!--</li>-->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Manage Users <br><span class="page-desc">This page allows you to manage user access, you may view, add and delete users below.</span></h1>
                        <div class="rec-row well">
      <button class="btn btn-warning pull-right" data-toggle="modal" data-target="#myModal">
        <i class="glyphicon glyphicon-plus"></i>
        ADD NEW USER
      </button>
    </div>
</div>

    
    <br>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 id="alert-modal-title" class="modal-title"></h4>
            </div>
             <div class="modal-body">
                <form name="userForm" method="POST">
                	<h2 class="add-txt">Add user <br><span class="add-user-desc">Enter ID number and role of user to be added.</span></h2><br>
                     
                     <div class="form-group">
                         <label for="idNumber" class="control-label">ID Number:</label><br>
                         <input type="text" name="idNumber" ng-model= "user.idnumber" id="idNumber" class="form-control" required/>
                     </div>
                     
                     <div class="form-group">
                         <label for="lastname">Role:</label><br>
                         <select ng-model="user.selectedrole" ng-options="x for x in roles" class="select-form " name="user_role" id="user_role" required>
                         </select>
                     </div><br>
                     <div class="add-btn">
                         <input ng-click="userAdded(); addUser()" type="submit" class="btn btn-block btn-warning" ng-disabled= "userForm.$invalid" onclick= "$('#myModal').modal('hide')" value="ADD USER"/>
                 </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div>
        <div class="container">
           <div class="row">
                <div class="col-md-12">
                    <div class ='container main-container'>
                        <table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-hover">
                            <div id="loader"></div>
                          <thead>
                            <tr>
                              <th>Department </th> 
                              <th>Email Address</th>
                              <th>FullName </th>
                              <th>ID Number</th>
                              <th>Role</th>
                              <th ng-hide={{showAddUser}}>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="row in persons">
                              <td>
                                <div>{{row.user_department}}</div>
                              </td>
                              
                              <td>
                                <div>{{row.user_email}}</div>
                              </td>
                              
                              <td>
                                <div>{{row.user_name}}</div>
                              </td>
                                
                              <td>
                                <div>{{row.user_id}}</div>
                              </td>
                              
                               <td>
                                <div>{{row.user_role}}</div>
                              </td>
                              
                              <td ng-hide={{showAddUser}}>
                                <button type="button" ng-click="deleteUser(persons[row],row.user_id)" class="btn btn-sm btn-danger">
                      			    <i class="glyphicon glyphicon-trash"></i>
                      			</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
    <footer id="app-footer" class="footer ng-scope">
 	    <div class="container">
 		    <div class="row">
 			    <div class="container-fluid">
		 		    <nav class="navbar">
				        <ul class="nav">
			                <li class="navbar-text pull-right"><a id="feedback-btn" ui-sref="feedback" href="/feedback">Send Feedback</a></li>
			            </ul>
				    </nav> 				
 			    </div>
 		    </div>
 	    </div>
    </footer>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="../dist/js/sb-admin-2.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="../js/auth.js"></script>
    <script type="text/javascript" src="../js/logout.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    
    

</body>

</html>

<style>
table{
      background-color:white;
    }
    .container{
        width:100%;
    }
    .rec-row{
        position:relative;
      padding-bottom: 40px;
      margin-top:-10px;
      margin-right:0px;
      width:100%;
    }
    .wrapper .btn{
        position:absolute;
      float:right;
      margin-top:-80px;
      margin-right:72px;
    }
    footer{
     margin-left:32px;
   }
    .well{
        padding-top:8px !important;
        margin-top:16px !important;
    }
    .page-desc{
        font-family:roboto;
        font-weight:300;
        font-size:20px;
    }
    .add-user-desc{
        font-family:roboto;
        font-weight:300;
        font-size:20px;
    }
    .page-header{
        margin-bottom:16px;
    }
</style>